<template>
  <v-form v-model="valid">
  <v-flex xs12>
    <v-text-field
      label="Name"
      v-model="name"
      :rules="nameRules"
      :counter="20"
      required
    ></v-text-field>
	</v-flex>
    <v-text-field
      label="E-mail"
      v-model="email"
      :rules="emailRules"
      required
    ></v-text-field>
     
    <v-text-field
      v-model="message"
      label="Message"
      :rules="messageRules"
      required
    ></v-text-field>
	
	<v-btn @click="submit">submit</v-btn>
    <v-btn @click="clear">clear</v-btn>
  </v-form>
</template>

<script>
export default {
  name: 'Contact',
  data: () => ({  
    valid: false,  
  	name: '',
  	nameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 20 || 'Name must be less than 10 characters'
    ],
  	email: '',    
  	emailRules: [
        v => !!v || 'E-mail is required',
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
    ],
    message: '',
    messageRules: [
        v => !!v || 'Message is required'
    ]
  }),
  methods: {
  	submit: function () {

  	},
  	clear: function () {

  	}
  }
}
</script>